#spinner {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.jumbotron, footer {
  text-align: center;
  color: white;
  font-family: verdana;
  background-color: #404040;
  width: 100%;
  background-size: cover; }

select {
  color: white;
  background-color: #404040; }

footer {
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#formSuccess, #formError {
  background-color: #404040;
  font-family: verdana;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#formSuccess {
  color: white; }

#errorMessage {
  padding: 10px;
  margin-top: 10px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#formError, #errorMessage, #fourohfour {
  color: red; }

#postingList {
  border: 3px solid black; }

#formSuccess, #formError, #errorMessage, #fourohfour {
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center; }

.posting {
  border: 1px solid black;
  max-width: 90%;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  background: url("/img/questionbackground.png") repeat;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .posting textarea {
    min-width: 75%;
    max-width: 100%; }

#newPostForm {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border: 5px solid #FFDAB9;
  padding-bottom: 10px;
  border-radius: 10px;
  max-width: 90%;
  margin-bottom: 10px; }
  #newPostForm textarea {
    min-width: 75%;
    max-width: 100%; }

#commentInput {
  min-width: 75%;
  min-height: 100px; }

#postListContainer, #actionBar, #newCommentForm {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#commentList {
  min-width: 75%;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  #commentList #commentHeader {
    text-align: center; }

button {
  color: #FFDAB9;
  background-color: #339966;
  border-radius: 3px;
  border: 1px solid black;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px; }

label, #commentHeader {
  color: #339966; }

.posting h3 {
  color: #339966; }
  .posting h3 a {
    color: #FFDAB9;
    background-color: #339966;
    padding: 5px;
    border-radius: 10px; }

#commentHeader {
  text-align: center; }

.comment {
  background-color: #d3d3d3;
  border: 3px solid #FFDAB9;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px; }
  .comment textarea {
    min-width: 100%;
    max-width: 100%; }

footer {
  min-width: 100%;
  margin-top: 10px; }

.commentNumber {
  color: #339966;
  font-weight: bold; }

#about {
  margin-left: 10%;
  margin-right: 10%; }

#pageBar {
  max-width: 70%; }

#newPostForm, #actionBar {
  font-size: 150%; }

@media print {
  #newPostForm, #actionBar {
    font-size: 100%; } }

.vertCenter {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin-top: 30px; }

#searchField {
  margin-left: 5px; }

.sampleBlock {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .sampleBlock img {
    margin-left: auto;
    margin-right: auto; }

#actionBar a {
  color: #FFDAB9; }

#loginForm, #signupForm, #loggedOut, #signupBlurb {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

#signupBlurb {
  list-style-position: inside; }

body {
  overflow-x: hidden; }
