$ear_peach: #FFDAB9;
$tree_green: #339966;
$header_footer_background: #404040;
$header_footer_font: white;
$success_color: blue;
$error_color: red;
$standard_space: 10px;

@mixin marginCentered(){
    margin-left:auto;
    margin-right:auto;
}
@mixin fullCentered(){
    @include marginCentered();
    text-align:center;
}

.jumbotron, footer{
    text-align:center;
    color: $header_footer_font;
    font-family: verdana;
    background-color: $header_footer_background;
    width: 100%;
}
select{
    color:  $header_footer_font;
    background-color: $header_footer_background;
}
footer{
    margin-top: $standard_space;
    padding-top: $standard_space;
    padding-bottom: $standard_space;
    @include fullCentered();
}
#formSuccess{
    color:$success_color;
}
#formError, #errorMessage, #fourohfour{
    color:$error_color;
}
#postingList{
    border: 3px solid black;
}
#formSuccess, #formError, #errorMessage, #fourohfour{
    font-weight:bold;
    font-size:200%;
    margin-bottom: $standard_space;
    text-align:center;
}
#categoryColumn{
    padding:$standard_space;
}
.posting{
    border: 1px solid black;
    margin-bottom: $standard_space;
    padding-bottom:$standard_space;
    border-radius: $standard_space;
    background: url("../img/questionbackground.png") repeat;
    font-weight: bold;
    @include fullCentered();
}
#newPostForm{
    @include fullCentered();
    border: 5px solid #FFDAB9;
    padding-bottom: $standard_space;
    border-radius:$standard_space;
    
    input{
         min-width: 75%;
    }
}
#commentInput{
    min-width: 75%;
    min-height: 100px;
}
#postListContainer, #actionBar, #newCommentForm{
   @include fullCentered();
}
#commentList{
    min-width: 75%;
    max-width: 100%;
    @include marginCentered();
    #commentHeader{
        text-align:center;
    }
}
button{
    color: $ear_peach;
    background-color: $tree_green;
    border-radius:3px;
    border: 1px solid black;
    padding: $standard_space;
    margin-left:$standard_space;
    margin-right:$standard_space;
}
label, #commentHeader{
    color:$tree_green;
}
.posting h3{
    color: $tree_green;
}
#commentHeader{
    text-align:center;
}
.comment{
    background-color: #d3d3d3;
    border: 3px solid $ear_peach;
    margin-top: $standard_space;
    margin-bottom: $standard_space;
    padding: $standard_space;
    border-radius: $standard_space;
}
footer{
   min-width:100%;
}
.commentNumber{
    color: $tree_green;
    font-weight: bold;
}