$ear_peach: #FFDAB9;
$tree_green: #339966;
$header_footer_background: #404040;
$header_footer_font: white;
$error_color: red;
$standard_space: 10px;

@mixin marginCentered(){
    margin-left:auto;
    margin-right:auto;
}
@mixin fullCentered(){
    @include marginCentered();
    text-align:center;
}
#spinner{
    @include fullCentered();
}
.jumbotron, footer{
    text-align:center;
    color: $header_footer_font;
    font-family: verdana;
    background-color: $header_footer_background;
    width: 100%;
    background-size:cover;
}
select{
    color:  $header_footer_font;
    background-color: $header_footer_background;
}
footer{
    margin-top: $standard_space;
    padding-top: $standard_space;
    padding-bottom: $standard_space;
    @include fullCentered();
}
#formSuccess, #formError{
    background-color:$header_footer_background;
    font-family: verdana;
    padding: $standard_space;
    margin-top:$standard_space;
    border-radius:$standard_space;
    max-width:95%;
    @include fullCentered();
}
#formSuccess{
    color:white;
}
#errorMessage{
    padding: $standard_space;
    margin-top:$standard_space;    
    max-width:95%;
    @include fullCentered();
}
#formError, #errorMessage, #fourohfour{
    color:$error_color;
}
#postingList{
    border: 3px solid black;
}
#formSuccess, #formError, #errorMessage, #fourohfour{
    font-weight:bold;
    margin-bottom: $standard_space;
    text-align:center;
}
.posting{
    border: 1px solid black;
    max-width: 90%;
    margin-bottom: $standard_space;
    padding-bottom:$standard_space;
    border-radius: $standard_space;
    background: url("/img/questionbackground.png") repeat;
    font-weight: bold;
    @include fullCentered();
    textarea{
        min-width:75%;
        max-width:100%;
    }
}
#newPostForm{
    @include fullCentered();
    border: 5px solid $ear_peach;
    padding-bottom: $standard_space;
    border-radius:$standard_space;
    max-width:90%;
    margin-bottom: $standard_space;
    
    textarea{
         min-width: 75%;
         max-width: 100%;
    }
}
#commentInput{
    min-width: 75%;
    min-height: 100px;
}
#postListContainer, #actionBar, #newCommentForm{
   @include fullCentered();
}
#commentList{
    min-width: 75%;
    max-width: 100%;
    @include marginCentered();
    #commentHeader{
        text-align:center;
    }
}
button{
    color: $ear_peach;
    background-color: $tree_green;
    border-radius:3px;
    border: 1px solid black;
    padding: $standard_space;
    margin-left:$standard_space;
    margin-right:$standard_space;
}
label, #commentHeader{
    color:$tree_green;
}
.posting h3{
    color: $tree_green;
    a{
    color:$ear_peach;
    background-color: $tree_green;
    padding:$standard_space/2;
    border-radius:$standard_space;
    }
}
#commentHeader{
    text-align:center;
}
.comment{
    background-color: #d3d3d3;
    border: 3px solid $ear_peach;
    margin-top: $standard_space;
    margin-bottom: $standard_space;
    padding: $standard_space;
    border-radius: $standard_space;
    
    textarea{
        min-width:100%;
        max-width:100%;
    }
}
footer{
   min-width:100%;
   margin-top:$standard_space;
}
.commentNumber{
    color: $tree_green;
    font-weight: bold;
}
#about{
    margin-left:10%;
    margin-right:10%;
}
#pageBar{
    max-width:70%;
}
#newPostForm, #actionBar {
       font-size:150%;
}
@media print{
    #newPostForm, #actionBar{
        font-size:100%;
    }
}
.vertCenter{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  margin-top:$standard_space * 3;  
}
#searchField{
    margin-left:5px;
}
.sampleBlock{
    @include fullCentered();
    img{
        @include marginCentered();
    }
}
#actionBar{
    margin-bottom:-40px;
    a{
        color: $ear_peach;
    }
}
#loginForm, #signupForm, #loggedOut, #signupBlurb, #refresher, #pwChange, #resetNotice{
    @include fullCentered();
}
#signupBlurb{
    list-style-position:inside;
}
body{
    overflow-x:hidden;
}
#formAlert a{
    color: $ear_peach;
}
#searchField{
    width:60%;
}
#searchButton{
    width:20%;
}